[submodule "vim/pack/plugins/start/lightline"]
	path = vim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/nvim-yarp"]
	path = vim/pack/plugins/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "vim/pack/plugins/start/ack.vim"]
	path = vim/pack/plugins/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/plugins/start/fzf.vim"]
	path = vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/plugins/start/ultisnips"]
	path = vim/pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/pack/plugins/start/nord-vim"]
	path = vim/pack/plugins/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "vim/pack/plugins/start/vim-tmux-navigator"]
	path = vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/plugins/start/tcomment_vim"]
	path = vim/pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/pack/plugins/start/vim-smooth-scroll"]
	path = vim/pack/plugins/start/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll.git
[submodule "vim/pack/plugins/start/vim-cool"]
	path = vim/pack/plugins/start/vim-cool
	url = https://github.com/romainl/vim-cool.git
[submodule "vim/pack/plugins/start/vimspector"]
	path = vim/pack/plugins/start/vimspector
	url = https://github.com/puremourning/vimspector.git
[submodule "vim/pack/plugins/start/vim-svelte-plugin"]
	path = vim/pack/plugins/start/vim-svelte-plugin
	url = https://github.com/leafOfTree/vim-svelte-plugin
[submodule "vim/pack/plugins/start/coc.nvim"]
	path = vim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/pack/plugins/start/fzf"]
	path = vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/plugins/start/protobuf.vim"]
	path = vim/pack/plugins/start/protobuf.vim
	url = https://github.com/wfxr/protobuf.vim.git
